//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$verde: #65d1cc;
$rojo: rgb(216, 60, 60);
$rosa: rgb(209, 76, 98);
$rosa2: #a8024f;
$amarillo: rgb(241, 241, 41);
$morado: rgb(12, 12, 248);
$negro: rgb(0, 0, 0);
$blanco: rgb(255, 255, 255);
$gris: rgb(155, 147, 147);

// Media Query
$celular: 480px;
$tablet: 768px;
$desktop: 992px;